<div>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Technology Website</title>
    <link rel="stylesheet" href="sanction.component.css"> <!-- Update the file path if needed -->
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <div style="text-align: center;" >
    <div>
      <input type="file" (change)="onFileChange($event)" accept=".xlsx, .xls">
    </div>
    
    <br>
    <div>
      <input type="text" placeholder="Search" (keyup)="search($event)">
    </div>
    
    <div>
      <input type="text" placeholder="Filter" #filterInput (keyup)="filter(filterInput.value)">
      <button (click)="clearFilter()">Clear</button>
    </div>
    
    <br>
    <br>
    
    <table>
      <thead>
        <tr style="border: 1px solid black;" >
          <th *ngFor="let header of data[0]" style="border: 1px solid black;">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of filteredData" style="border: 1px solid black;">
          <td *ngFor="let cell of row" style="border: 1px solid black;">{{ cell }}</td>
        </tr>
      </tbody>
    </table>
    
    <button (click)="downloadSanctionFile()">Download Sanction List</button>

  </div>
     
     
      <br>
      
      <br>

    <footer>
      <div class="container">
        <p>&copy; 2023 Your Technology Website. All rights reserved.</p>
      </div>
    </footer>

    <!-- External JavaScript libraries if needed -->
    <script src="https://kit.fontawesome.com/your-fontawesome-kit.js" crossorigin="anonymous"></script>
  </body>

  </html>
</div>



























  